<div class='w-50 m-auto'>
  <h3 class='text-center'>Create</h3>
  <form
    method='GET'
    action='/courses/store'
    class='row m-5 p-3'
    style='border: solid 1px #cdcdcd;border-radius: 15px'
    enctype='multipart/form-data'
  >
    <div class='col-md-6'>
      <label class='form-label'>Name</label>
      <input
        name='name'
        type='text'
        class='form-control'
        placeholder='Enter name ...'
      />
    </div>
    <div class='col-md-6'>
      <label class='form-label'>Description</label>
      <input
        name='description'
        type='text'
        class='form-control'
        placeholder='Enter description ...'
      />
    </div>
    <div class='col-md-6'>
      <label class='form-label'>Image</label>
      <input
        name='image'
        id='image'
        type='text'
        class='form-control'
        placeholder='Enter imageUrl ...'
      />
    </div>
    <div class='text-center'>
      <button type='submit' class='mt-4 w-10 btn btn-primary'>Create</button>
    </div>
  </form>
</div>