<table class='table table-hover'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
  </tr>
  <tr>
    <td>{{course.name}}</td>
    <td>{{course.description}}</td>
    <td>
      <img src='{{course.image}}' alt='' width='150px' />
    </td>
  </tr>
</table>